.page {
    /* overflow: hidden; */
    width: 1920px;
    height: 900px;
    background-color: #F3F3F3;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .page {
        width: 309.74px;
        height: 218.63px;
        overflow: hidden;
    }
}